*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 100px;
    background:#020617;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#cbd5e1;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 100px;
    gap:50px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero-text p{
    color:#cbd5e1;
    line-height:1.7;
    margin-bottom:20px;
}

.hero-text button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.hero-image{
    flex:1;
}

.hero-image img{
    width:100%;
    border-radius:15px;
}

.info{
    padding:80px 100px;
    text-align:center;
}

.info h2{
    font-size:40px;
    margin-bottom:50px;
}

.cards{
    display:flex;
    gap:25px;
    justify-content:center;
}

.card{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    width:250px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card p{
    padding:20px;
    color:#cbd5e1;
}

.quote{
    background:#1e293b;
    padding:100px 150px;
}

.quote-text{
    font-size:36px;
    font-style:italic;
    color:#f8fafc;
}

.author{
    text-align:right;
    margin-top:20px;
    font-weight:bold;
}

.cta{
    padding:100px;
}

.cta-box{
    background:#38bdf8;
    padding:50px;
    border-radius:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cta-box button{
    background:transparent;
    border:2px solid white;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:30px;
    background:#020617;
    color:#94a3b8;
}